<%= stylesheet_link_tag 'form' %>
</br>
<div id="form" class="jumbotron">
  <p id="heading"> Reset your password</p>

  <% form_tag({:action => "reset_password",:controller => "sessions", :id => params[:token]}, :class => "form" )  do  -%>
    <div class="form-group">
      <%= label_tag( :password,"Password") %><br />
      <%= password_field_tag(:password ,params[:password], :class => 'form-control') %>
    </div>
    <%= submit_tag "Reset Password", :class => 'btn btn-large btn-primary' %>

  <% end %>
</div>
