
#table{
  margin: auto;
}

.container{
  margin-top: 20px;
  width: 700px;
}

.footer{
  text-align: center;
}

#profile{
  width: 450px;
  margin: auto;

}

.profile_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.label{
  color: green;
  font-size: 18px;
  font-family: sans-serif;
  float: left;
}

.value{
  color: red;
  font-size: 18px;
  font-family: sans-serif;
  float: right;

}
