
#table{
  margin: auto;
}
.container{
  width: 500px;
}

.footer{
  text-align: center;
}

.unavailable{
  font-size: 25px;
  text-align: center;
  color: red;
  font-family: monospace;
}

#slots{
  margin-top: 20px;
  width: 800px;
  margin: auto;
}
.date{
  font-size: 18px;
  color: green
}
.time{
  font-size: 16px;
  color: red
}
.slot_entry{
  border: 1px solid black;
  margin: 2px 5px;
  padding: 5px 5px;
  background-color: yellow;
}
.doctor{
  font-size: 18px;
  color: black;
}


#profile{
  width: 450px;
  margin: auto;

}

.profile_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.label{
  color: green;
  font-size: 18px;
  font-family: sans-serif;
}

.value{
  color: red;
  font-size: 18px;
  font-family: sans-serif;
  float: right;

}
